.headshot {
	border-radius: 100%;
}

#indexSplash {
	background-color: rgba(0,0,0,0.5);
	  position: fixed; 
	  height: 100%;
	  width: 100%;
	  margin: 0;
	  padding:0;
	  z-index: 3;
}

#splashTitle {
	margin-top: 150px;
}

.splashDetails {
	font-size: 36px;
}

header {
	font-size: 48px;
}

#summary {
	font-size: 18px;
}

* {
	font-family: 'Slabo 27px', serif;
	color: #eee8dc;
}

body {
	background-image: url("images/computerBackground.jpg");
	background-size: 100% auto;
/*	-webkit-filter: blur(2px);
	filter: blur(2px);*/
/*	z-index: -1000;*/
}

.navCustom {
	background-color: #213B53;
	background-outline: none; 
  	-webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important; 
    margin-bottom: -20px;
    z-index: 5;
}

#div {
	background-color: rgba(0,0,0,0.5);
	border: rgb(0,0,0);
	padding: 50px 50px 75px 50px;
}

#contact {
	background-color: rgba(0,0,0,0.5);
	border: rgb(0,0,0);
	padding: 50px 50px 50px 50px;
}

#projDiv {
	background-color: rgba(0,0,0,0.5);
	border: rgb(0,0,0);
}

.gif {
	margin: 0 auto;
}

.backBtn {
	background-color: #4F697F;
	border: 1px solid #203E57;
}

.contactLink {
	color: #4F697F;
}

.dangerBack {
	margin: 0 auto;
}